In [1]:
a=int(input('enter a value'))
b=int(input('enter b value'))
print(a+b)

enter a value55
enter b value44
99

In [5]:
m=int(input('enter a value'))
g=int(input('enter b value'))
s=m+g
print("addition of",m,"+",g,"=",s )

enter a value5679
enter b value789654
addition of 5679 + 789654 = 795333

In [8]:
a=int(input('enter a value'))
b=int(input('enter b value'))
print('substract of %d - %d =%d'%(a,b,a-b))
print('mul of {} * {}={}'.format(a,b,a*b))

enter a value45678
enter b value7689
substract of 45678 - 7689 =37989
mul of 45678 * 7689=351218142

In [9]:
print(6<7)

True

In [13]:
print('lessthan --<',6<7)
print('greterthan-->',45>32)
print('greaterthan or equals',200>=199)
print('lessthan or equals',199<=100)
print('notequal to',12!=13)
print('equal to',12==12)

lessthan --< True
greterthan--> True
greaterthan or equals True
lessthan or equals False
notequal to True
equal to True

In [19]:
a=10
a+=90
a-=50
print(a)
a*=2
print('final result is',a)
print(a)

50
final result is 100
100

In [21]:
print(True and True)
print(True and False)
print( False and True)
print(False and False)

True
False
False
False

In [22]:
print(True or True)
print(True or False)
print( False or True)
print(False or False)

True
True
True
False

In [24]:
print(not(True or True))
print(not(True or False))
print( not(False or True))
print(not(False or False))

False
False
False
True

In [25]:
print(not(True and True))
print(not(True and False))
print(not( False and True))
print(not(False and False))

False
True
True
True

# membership
+ in,notin

In [27]:
s="welcome to python workship"
print('to' in s)
print('too' in s)
print('v' not in s)

True
False
True

In [29]:
# identity operator
x='gopi'
y='teja'
print(x is y)
print(x is not y)

False
True

# bitwise operator
+ &,|,^

In [30]:
2&2
#bin(2)

2

In [31]:
2&5

0

In [32]:
2|4

6

In [33]:
2|78

78

In [34]:
2^3

1

In [41]:
5
print(bin(2))
print(int('011',2))
print(int('11110',2))

30

In [42]:
ord('A')
chr(65)

'A'

# take 5 inputs from user
# operations the values
# print result

# conditional statements
+ if,elif,else
### condition:
if condition:
        statements
       
elif condition:
        statements
else
    statements

In [45]:
# even numbers
n=int(input('enter the value:-'))
if n%2==1:
    print(n,'is an odd number')
else:
    print(n,'is not an odd number')

enter the value:- 55
55 is an odd number

# take the inputs from the user
1 to 7

In [52]:
a=int(input('enter a value'))
if (a==1):
    print('sunday')
elif(a==2):
    print('monday')
elif(a==3):
        print('tuesday')
elif(a==4):
            print('wednesday')
elif(a==5):
            print('thursday')
elif(a==6):
            print('friday')
elif(a==7):
            print('saturday')
else:
    print('invalid statement')

enter a value0
invalid statement